---
import Layout from "../layouts/Layout.astro";
import MeCards from "../components/MeCards.astro";
import LanyardCard from "../components/lanyard/LanyardCard.astro";
---

<Layout
  title="About — Bhavani Chandra"
  description="About Bhavani Chandra."
>
  <div class="pt-16 mb-16">
    <LanyardCard />
  </div>
  <MeCards />
</Layout>
