---
import Layout from "../layouts/Layout.astro";
import Rail from "../components/Rail.astro";
import RailNav from "../components/RailNav.astro";
import PageIntro from "../components/PageIntro.astro";
---

<Layout title="Bhavani Chandra">
  <div class="flex flex-col md:grid md:grid-cols-[16rem_1fr] min-h-screen">
    <Rail />
    <main class="contents">
      <div class="pt-20 px-8">
        <PageIntro />
      </div>
      <RailNav current="home" />
      <div class="px-8 pb-24"></div>
    </main>
  </div>
</Layout>
