---
import '../styles/global.css'
import Hello from "../components/Hello.astro";
import MeCards from "../components/MeCards.astro";
---

<html lang="en" class="text-white">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bhavani Chandra</title>
	</head>
	<body class="grain-bg" style="background-color:#1a1918">
		<Hello />
		<MeCards />
	</body>
</html>
