---
---

<div class="text-2xl font-semibold text-white">
  Bhavani Chandra
</div>

<div class="text-neutral-300 text-lg tracking-wide">
  Laziness is the mother of progress
</div>

<div class="text-neutral-400 text-sm tracking-wide">
  Senior Software Engineer @ GE Vernova
</div>
